---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404, no lo he encontrado">
  <main class="max-w-4xl m-auto min-h-screen grid place-content-center text-center">
    <h1 class="text-4xl font-black mb-4">Oh, vaya. ¡Lo has roto!</h1>
    <img width="200" height="150" src="./img/404.png" alt="Goku triste" />
    <p> Imagen de <a href="https://pixabay.com/users/ricke76-8076288/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3175043">Lerey Eric</a> en<a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3175043"> Pixabay</a></p>
   
  </main>
</Layout>