---
import Layout from '../layouts/Layout.astro'
import Logo from '../components/Logo.astro'
import ListOfCharacters from '../components/ListOfCharacters.astro'
---

<Layout title="Personajes de Dragon Ball Z">
	<main class="max-w-5xl text-center mx-auto">
		<a
			rel="noopener nofollow"
			target="_blank"
			title="Go to repo on GitHub"
			href="https://github.com/manuelsanchezweb/astro-view-transitions-dragon-ball"
			class="github absolute top-12 right-4 md:right-12 z-10 bg-secondary border border-black rounded-full p-2 drop-shadow-md"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-github"
				width="28"
				height="28"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path
					d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
				></path>
			</svg>
		</a>

		<Logo />

		<h1 class="text-3xl font-semibold my-6">¡Elige tu personaje!</h1>

		<ListOfCharacters />
	</main>

	<footer class="text-center opacity-70 py-10 text-sm">
		Imágenes sacadas de <a
			rel="noopener nofollow"
			target="_blank"
			class="text-secondary inline-flex hover:underline"
			href="https://dragonball.guru/characters/">Dragon Ball Guru</a
		>
	</footer>
</Layout>
